<div class="grid" *ngIf="HidePaymentWindow">
  <div class="col-6">
    <div class="content-address">
      <h2>Endereço</h2>
      <p>{{pessoaAuthenticad.endereco?.endereco}}</p>
      <p>Número - {{pessoaAuthenticad.endereco?.numero}}</p>
      <p>Cidade - {{pessoaAuthenticad.endereco?.cidade}}</p>
      <p>Complemento - {{pessoaAuthenticad?.endereco?.complemento}}</p>
      <p>Estado - {{pessoaAuthenticad.endereco?.estado}}</p>
    </div>
  </div>
  <div class="col-6">
    <div class="content-cart">
      <h2>Carrinho</h2>
      <div class="cart" *ngFor="let item of itensCart">
        <div class="grid">
          <div class="col-6">
            <p>{{item.livro?.titulo}}</p>
          </div>
          <div class="col-2">
            <p>R$ {{item.preco}}.00</p>
          </div>
          <div class="col-2">
            <p-image src="assets/images_posts/{{item.nomeImagem}}" alt="Image" width="30" [preview]="true">
            </p-image>
          </div>
          <div class="col-2">
            <i class="pi pi-times icon-delete" (click)="deleteItemFromListBooks(item)" style="font-size: 1rem"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="final-text-cart">
      <p>Sub-total: R$ {{subTotal}}.00</p>
      <p>Frete: R$ 50.00</p>
      <p>Total: R$ {{subTotal + 50}}.00</p>
    </div>
    <button pButton pRipple type="button" (click)="finalizePayment()" label="Finalizar" class="p-button-outlined p-button-rounded p-button-success"></button>
  </div>
</div>
<div class="grid">
  <p-progressSpinner class="spinner" *ngIf="loadingFinalizePayment"></p-progressSpinner>
  <p-image src="assets/gif_paid-out.gif" *ngIf="paidWithSuccessAnimation" alt="Image" width="250"></p-image>
</div>
<h2 class="text-paid-with-success" *ngIf="paidWithSuccessAnimation">Operação realizada com sucesso.</h2>
