<br>
<div class="card">
  <div class="flex justify-content-center flex-wrap card-container yellow-container">


    <div class="grid">
      <div class="col-12">
        <p-card>


          <h4>Digite a senha e confirme!</h4><br>

          <form [formGroup]="form_resetPassword">
            <span class="p-float-label">
              <input class="input" id="float-input" formControlName="password" type="password" pInputText>
              <label for="float-input">senha: </label>
            </span>
            <ng-container *ngFor="let erro of mensagens['senha']">
              <span class="msg-error" *ngIf="form_resetPassword.get('password')?.hasError(erro.tipo) && (form_resetPassword.get('password')?.dirty || form_resetPassword.get('password')?.touched)">
                {{erro.mensagem}}
              </span>
            </ng-container>
            <br>
            <span class="p-float-label">
              <input class="input" id="float-input" formControlName="password_confirm" type="password" pInputText>
              <label for="float-input">Confirmar senha: </label>
            </span>
          </form>
          <br>
          <ng-container *ngFor="let erro of mensagens['senhaConfirmada']">
            <span class="msg-error" *ngIf="form_resetPassword.get('password_confirm')?.hasError(erro.tipo) && (form_resetPassword.get('password_confirm')?.dirty || form_resetPassword.get('password_confirm')?.touched)">
              {{erro.mensagem}}
            </span>
          </ng-container>
          <p-button label="Alterar Senha" icon="pi pi-pencil" (click)="reset_passoword()" class="btn"></p-button>
        </p-card>
      </div>

      <div class="col-12">
        <h2 *ngIf="messageRequestSuccess" class="sendEmailSuccess">{{messageRequestSuccess}}</h2>
        <h2 *ngIf="messageRequestFail" class="sendEmailFail">{{messageRequestFail}}</h2>
      </div>
    </div>


  </div>
</div>
