:host ::ng-deep .p-card {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
}

:host ::ng-deep input {
  width: 100%;
}

.sendEmailSuccess {
  text-align: center;
  color: rgb(51, 161, 75);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sendEmailFail {
  text-align: center;
  color: rgb(216, 43, 43);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.msg-error {
  font-size: 15px;
  color: red;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
