<div class="card">
  <div class="flex justify-content-center">
    <div class="grid">
      <div class="form-anuncio">
        <div class="col-12">
          <textarea [rows]="10" [cols]="30" placeholder="Digite a descrição" pInputTextarea autoResize="autoResize"></textarea>
        </div>
        <div class="col-1">
          <p-inputNumber placeholder="Digite o preço" inputId="currency-us" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
        </div>
        <div class="col-8">
          <input type="text" pInputText placeholder="Titulo">
        </div>
        <div class="col-8">
          <input type="text" pInputText placeholder="Autor">
        </div>
        <div class="col-5">
          <input type="text" pKeyFilter="num" pInputText placeholder="Número de páginas">
        </div>
        <div class="col-4">
          <input type="text" pInputText placeholder="Edição">
        </div>
        <div class="col-4">
          <input type="text" pKeyFilter="num" pInputText placeholder="Ano de publicação">
        </div>
        <div class="col-8">
          <input type="text" pKeyFilter="num" pInputText placeholder="Código de barras">
        </div>
        <div class="col-12">

          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-9">
                <div class="btn-group">
                  <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                    <input type="file" multiple name="photo" (change)="onFileSelected($event)" class="sr-only" id="inputImage" accept="image/*"><br>
                    <br><span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Import image with Blob URLs">
                          <span class="fa fa-upload"></span>
                    </span>
                  </label>
                </div>
                <div *ngIf="showCropper && imageUrl">
                  <angular-cropper #angularCropper
                          [cropperOptions]="cropperConfig"
                          [imageUrl]="imageUrl"
                          (zoom)="zoomManual()"
                          (ready)="readyImage($event)"
                          (cropend)="cropendImage($event)">
                  </angular-cropper>
                </div>
                <div *ngIf="!showCropper && imageUrl" class="container-preloader">
                  <div class="dash uno"></div>
                  <div class="dash dos"></div>
                  <div class="dash tres"></div>
                  <div class="dash cuatro"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 crop-res">
                <div class="card">
                  <div class="card-body">
                    <div class="docs-buttons">
                      <div class="btn-group">
                        <p-button icon="pi pi-search-plus" (click)="zoom('positive')" styleClass="p-button-rounded"></p-button>

                        <p-button icon="pi pi-search-minus" (click)="zoom('negative')" styleClass="p-button-rounded"></p-button>
                      </div>

                      <div class="btn-group">
                        <p-button  (click)="rotate('left')" icon="pi pi-replay" styleClass="p-button-rounded"></p-button>
                        <p-button  (click)="rotate('right')" icon="pi pi-refresh" styleClass="p-button-rounded"></p-button>
                      </div>



                      <div class="btn-group">
                        <p-button label="Resetar" (click)="clear()" icon="pi pi-times" styleClass="p-button-rounded"></p-button>
                      </div>

                      <div class="btn-group">
                        <p-button label="Foto completa" (click)="clear()" icon="pi pi-desktop" styleClass="p-button-rounded"></p-button>
                      </div>
                      <div class="btn-group">
                        <p-button label="Aplicar imagem" (click)="saveImg()" icon="pi pi-check" styleClass="p-button-rounded"></p-button>
                      </div>

                      <div style="display: none;">
                        <canvas #canvasEl width=400 height=400></canvas>
                      </div>
                      <div *ngIf="downloadLink">
                        <img [src]="downloadLink" />
                      </div>

                    </div><!-- /.docs-buttons -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-9">


              </div>
              <div class="col-xs-12 col-sm-3 crop-res">


              </div>
            </div>
            <div class="row" *ngIf="imageUrl" id="actions">
              <div class="col-sm-12">

              </div>

            </div>
            <div *ngIf="mergedRes" class="row">
              <div class="col-sm-12">
                <img [src]="mergedRes" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
