<div class="card">
  <div class="flex justify-content-center">
    <div class="grid">
      <div class="form-anuncio">
        <div class="col-12">
          <textarea [rows]="10" [cols]="30" placeholder="Digite a descrição" pInputTextarea autoResize="autoResize"></textarea>
        </div>
        <div class="col-4">
          <!-- <input type="text" pInputText placeholder="Preço"> -->
          <p-inputNumber placeholder="Digite o preço" inputId="currency-us" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
        </div>
        <div class="col-8">
          <input type="text" pInputText placeholder="Titulo">
        </div>
        <div class="col-8">
          <input type="text" pInputText placeholder="Autor">
        </div>
        <div class="col-5">
          <input type="text" pKeyFilter="num" pInputText placeholder="Número de páginas">
        </div>
        <div class="col-4">
          <input type="text" pInputText placeholder="Edição">
        </div>
        <div class="col-4">
          <input type="text" pKeyFilter="num" pInputText placeholder="Ano de publicação">
        </div>
        <div class="col-8">
          <input type="text" pKeyFilter="num" pInputText placeholder="Código de barras">
        </div>
        <div class="col-12">
          

        </div>
      </div>
    </div>
  </div>
</div>
