<div class="grid">
  <div class="col-1">
  <p-image src="assets/logo.png" alt="Image" width="140"></p-image>
  </div>
  <div class="col-8">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search">
  </span>
  </div>
  <div class="col-3">
    <div class="grid">
      <div class="col-6">
        <i class="pi pi-bell" pBadge value="20"  size="xlarge" severity="info" style="font-size: 30px; margin-left: 130px; margin-top: 35px;"></i>
        </div>
      <div class="col-6">
        <p-avatar shape="circle" image="assets/perfil.jpg" size="xlarge"></p-avatar>
      </div>
    </div>
  </div>
</div>
