<br>
<div class="card">
  <div class="flex justify-content-center flex-wrap card-container yellow-container">


    <div class="grid">
      <div class="col-12">
        <p-card>


          <h4>Digite o email do usuário!</h4><br>

          <form [formGroup]="form_forgotPassword">
            <span class="p-float-label">
              <input class="input" id="float-input" formControlName="email" type="text" pInputText>
              <label for="float-input">Email: </label>
            </span>
          </form>
          <br>
          <div class="grid">
            <div class="col-6">
              <p-button label="Enviar" icon="pi pi-send" (click)="forgot_passWord()" class="btn"></p-button>
            </div>
            <div class="col-2">
              <p-progressSpinner *ngIf="loadingRequest" [style]="{width: '25px', height: '25px'}"  styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
            </div>
          </div>
        </p-card>
      </div>

      <div class="col-12">
        <h2 *ngIf="messageRequestSuccess" class="sendEmailSuccess">{{messageRequestSuccess}}</h2>
        <h2 *ngIf="messageRequestFail" class="sendEmailFail">{{messageRequestFail}}</h2>
      </div>
    </div>


  </div>
</div>
