<p-toast position="top-center"></p-toast>


<div class="background">
  <div class="grid">
    <div class="col-1">
      <p-image (click)="routerLink('/home')" class="logo" src="assets/logo.png" alt="Image" width="140"></p-image>
    </div>
    <div class="col-5">
      <div class="grid">
        <div class="col-7">
          <div class="grid">

            <div class="col-12">
              <span class="p-input-icon-right" style="width: 100%;">
                <input type="text" class="input-search" [(ngModel)]="input_search" (keyup)="loadLivrosByNome()"
                  (keyup)="input_search.length > 1 ? op.show($event) : op.hide()" placeholder="Buscar livro"
                  pInputText />
              </span>
            </div>
            <div class="col-12">
              <p-overlayPanel #op [style]="{width: '25%'}">
                <ng-template pTemplate >
                  <app-spinner></app-spinner>
                  <div *ngFor="let book of anunciosByName" (click)="RedirectBookSearchToPageAnnouncements(book)">
                    <div class="box-books">
                      <div class="grid">
                        <div class="col-2">
                          <p-image src="{{book.volumeInfo?.imageLinks?.thumbnail}}" alt="Image" width="80"></p-image>
                        </div>
                        <div class="col-10">
                          <h4 style="text-align: center; margin-top: 3em">{{book.volumeInfo.title}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-overlayPanel>
            </div>

          </div>

        </div>

        <div class="col-5">
          <button pButton pRipple style="margin-top: 1.9em;" (click)="sell()" type="button" label="Vender" class="p-button-outlined p-button-rounded p-button-secondary"></button>
          <button pButton pRipple style="margin-left: 0.6em;" (click)="RedirectBookSearchToPageAnnouncements()" type="button" label="Ver anuncios" class="p-button-outlined p-button-rounded p-button-help"></button>
        </div>
        <div class="col-3">
          <p-dialog header="Cadastro" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw', height: '530px'}"
            [baseZIndex]="10000" [draggable]="false" [resizable]="false">


            <form [formGroup]="form_pessoa">
              <div class="grid">
                <div class="col-4">
                  <input type="text" style="width: 100%;" formControlName="nome" placeholder="Nome e sobrenome"
                    pInputText />
                    <ng-container *ngFor="let erro of mensagens['nome']">
                      <span class="msg-error" *ngIf="form_pessoa.get('nome')!.hasError(erro.tipo) && (form_pessoa.get('nome')!.dirty || form_pessoa.get('nome')!.touched)">
                        {{erro.mensagem}}
                      </span>
                    </ng-container>
                </div>
              </div>
            </form>

            <form [formGroup]="form_usuario">
              <div class="grid">
                <div class="col-4">
                  <input type="email" style="width: 100%;" formControlName="email" placeholder="E-mail" pInputText />
                  <ng-container *ngFor="let erro of mensagens['email']">
                    <span class="msg-error" *ngIf="form_usuario.get('email')!.hasError(erro.tipo) && (form_usuario.get('email')!.dirty || form_usuario.get('email')!.touched)">
                      {{erro.mensagem}}
                    </span>
                  </ng-container>
                </div>

                <div class="col-4">
                  <input type="password" style="width: 100%;" formControlName="senha" placeholder="Senha" pInputText />
                <ng-container *ngFor="let erro of mensagens['senha']">
                  <span class="msg-error" *ngIf="form_usuario.get('senha')!.hasError(erro.tipo) && (form_usuario.get('senha')!.dirty || form_usuario.get('senha')!.touched)">
                    {{erro.mensagem}}
                  </span>
                </ng-container>
                </div>
              </div>
            </form>
            <hr><br>
            <form [formGroup]="form_endereco">
              <div class="grid">
                <div class="col-2">
                  <input type="text" style="width: 100%;" formControlName="cep" placeholder="Cep" pInputText />
                </div>
                <div class="col-1">
                  <button pButton pRipple type="button" (click)="loadCep($event)" icon="pi pi-search"
                    class="p-button-rounded p-button-success p-button-outlined"></button>
                </div>
                <div class="col-4">
                  <div class="field-radiobutton">
                    <p-radioButton name="notExistCep" formControlName="notExistCep" (click)="disabledInputs($event)"></p-radioButton>
                    <label for="inputs">Não sei meu cep</label>
                  </div>
                </div>
              </div>

              <div class="grid">
                <div class="col-4">
                  <input type="text" style="width: 100%;" formControlName="endereco" placeholder="Endereco"
                    pInputText />
                    <ng-container *ngFor="let erro of mensagens['endereco']">
                      <span class="msg-error" *ngIf="form_endereco.get('endereco')!.hasError(erro.tipo) && (form_endereco.get('endereco')!.dirty || form_endereco.get('endereco')!.touched)">
                        {{erro.mensagem}}
                      </span>
                    </ng-container>
                </div>
                <div class="col-4">
                  <input type="text" style="width: 100%;" formControlName="complemento" placeholder="Complemento"
                    pInputText />
                    <ng-container *ngFor="let erro of mensagens['complemento']">
                      <span class="msg-error" *ngIf="form_endereco.get('complemento')!.hasError(erro.tipo) && (form_endereco.get('complemento')!.dirty || form_endereco.get('complemento')!.touched)">
                        {{erro.mensagem}}
                      </span>
                    </ng-container>
                </div>
                <div class="col-4">
                  <input type="text" style="width: 100%;" formControlName="cidade" placeholder="Cidade" pInputText />
                  <ng-container *ngFor="let erro of mensagens['cidade']">
                    <span class="msg-error" *ngIf="form_endereco.get('cidade')!.hasError(erro.tipo) && (form_endereco.get('cidade')!.dirty || form_endereco.get('cidade')!.touched)">
                      {{erro.mensagem}}
                    </span>
                  </ng-container>
                </div>
                <div class="col-2">
                  <input type="text" style="width: 100%;" formControlName="estado" placeholder="Estado" pInputText />
                  <ng-container *ngFor="let erro of mensagens['estado']">
                    <span class="msg-error" *ngIf="form_endereco.get('estado')!.hasError(erro.tipo) && (form_endereco.get('estado')!.dirty || form_endereco.get('estado')!.touched)">
                      {{erro.mensagem}}
                    </span>
                  </ng-container>
                </div>
                <div class="col-2">
                  <input type="number" style="width: 100%;" formControlName="numero" placeholder="Número" pInputText />
                  <ng-container *ngFor="let erro of mensagens['numero']">
                    <span class="msg-error" *ngIf="form_endereco.get('numero')!.hasError(erro.tipo) && (form_endereco.get('numero')!.dirty || form_endereco.get('numero')!.touched)">
                      {{erro.mensagem}}
                    </span>
                  </ng-container>
                </div>
              </div>
              <br>
              <div class="grid">
                <div class="col-12">
                  <p style="font-size: 13px; color: red;">{{this.error_msg}}</p>
                  <p style="font-size: 13px; color: green;" *ngIf="success_msg">Cadastrado com sucesso!!</p>
                </div>
              </div><br><br>
              <div class="grid">
                <div class="col-12">
                  <button pButton pRipple type="submit" (click)="createAccount()" label="Cadastrar"
                    class="p-button-rounded p-button-success"></button>
                </div>
              </div>
            </form>
          </p-dialog>
        </div>

      </div>
    </div>

    <div class="col-5">
      <div class="card">
        <div class="flex justify-content-end flex-wrap card-container green-container">
          <div class="flex align-items-center justify-content-center w-4rem h-4rem  font-bold  border-round m-2">
            <i class="pi pi-bell" pBadge value="5" size="xlarge" severity="info"
              style="font-size: 30px; float: right; margin-top: 1.3em; color: white;"></i>
          </div>
          <div class="flex align-items-center justify-content-center w-4rem h-4rem  border-round m-2">
            <i class="pi pi-shopping-cart" pBadge value="{{cart.length}}" (click)="tCart.toggle($event)" size="xlarge"
              severity="danger" style="font-size: 30px; float: right;  margin-top: 1.3em; color: white"></i>
          </div>
          <p-overlayPanel [style]="{width: '25%'}" #tCart [showTransitionOptions]="'100ms'"
            [hideTransitionOptions]="'100ms'" [dismissable]="true">
            <div class="grid" *ngFor="let book of cart">
              <div class="col-2">
                <p-image src="assets/images_posts/{{book.nomeImagem}}" alt="Image" width="30"></p-image>
              </div>
              <div class="col-6">
                <p class="cart-texts">{{book.livro?.titulo}}</p>
              </div>
              <div class="col-3">
                <p class="cart-texts">R$ {{book.preco}},00</p>
              </div>
              <div class="col-1">
                <i class="pi pi-times icons" (click)="removeCart(book)"></i>
              </div>
            </div>
            <div class="grid">
              <div class="col-6">
                <p style="font-size: 13px;">Subtotal - R$ {{subtotal}},00</p>
              </div>
              <div class="col-4">
                <button *ngIf="cart.length > 0" (click)="redirectToPayment()" pButton pRipple type="button" label="Finalizar"
                  class="p-button-rounded p-button-success"></button>
              </div>
            </div>
          </p-overlayPanel>

          <h4 *ngIf="!userIsAuthenticad" class="my-account" (click)="creatAcc.toggle($event)">Minha Conta <i
              class="pi pi-angle-down" style="font-size: 1rem"></i></h4>

          <h4 *ngIf="userIsAuthenticad" class="my-account" (click)="myAcc.toggle($event)">{{pessoaAuthenticad.nome}} <i
              class="pi pi-angle-down" style="font-size: 1rem"></i></h4>

          <p-overlayPanel #myAcc [style]="{width: '15%'}">
            <ng-template pTemplate>
              <div class="grid">
                <div class="col-12">
                  <h4 class="menuMyAcount"> <i class="pi pi-shopping-bag" style="padding-right: 1em;"></i> Meus pedidos
                  </h4>
                  <h4 class="menuMyAcount" (click)="logout()"><i class="pi pi-sign-out" style="padding-right: 1em;"></i>
                    Sair</h4>
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>

          <p-overlayPanel #creatAcc [style]="{width: '15%'}">
            <ng-template pTemplate>

              <div class="grid">
                <form class="input-myAccount" [formGroup]="form_login">
                  <div class="col-12">
                    <input type="text" formControlName="email" class="p-inputtext-sm input-myAccount"
                      placeholder="Email" pInputText />
                  </div>
                  <div class="col-12">
                    <input type="password" formControlName="senha" class="p-inputtext-sm input-myAccount"
                      placeholder="Senha" pInputText />
                  </div>
                </form>
                <div *ngIf="loadingLogin" class="col-12">
                  <p-progressBar mode="indeterminate"></p-progressBar>
                </div>
                <div class="col-4">
                  <button pButton pRipple type="button" (click)="login()" label="Entrar"
                    class="p-button-success"></button>
                </div>
                <div class="col-8">
                  <button pButton pRipple type="button" label="Cadastrar-se" (click)="showModalCreateAccount()"
                    class="p-button-rounded"></button>
                </div>
                <div class="col-12">
                  <h5 style="margin: 0; color:red">{{text_msg_login}}</h5>
                </div>
                <div style="padding-top: 0px; margin-top: 0px;" class="col-12">
                  <p (click)="routerLink('/forgot_password')" class="forgot-password-inputmyAccount">Esqueci minha senha
                  </p>
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>
        </div>
      </div>
    </div>
  </div>
  <div class="card">

    <div class="flex justify-content-center flex-wrap card-container yellow-container">

      <div class="banner">
        <h3>PromoCode - Book20</h3>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
