
.input-search {
  width: 94%;
  margin-top: 2em;
  margin-left: 5%;
  border-radius: 5px;
}

.input-search-books {
  width: 94%;
  border-radius: 5px;
  margin-bottom: 1%;
}


// .col-1, .col-2, .col-3, .col-4, .col-6, .col-8, .col-9 {
//   border: solid 1px;
// }

.msg-error {
  font-size: 13px;
  color: red;
  position: relative;
}



.field-radiobutton {
  margin-top: 0.5em;
}

.logo {
  cursor: pointer;
}

.banner {
  padding: 0px 20px 0px 20px;
  border: solid 2px rgb(121, 121, 121);
  color: white;
  border-radius: 35px;
  position: relative;
  bottom: 35px;
  h3 {
    margin-top: 1em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.anuncios {
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.background {
  background-color: rgb(15, 15, 15);

}

.icons {
  font-size: 0.5rem;
  margin-top: 2.7em;
  cursor: pointer;
}

.cart-texts {
  font-size: 13px;
  margin-top: 2em;
}


.btn-cadastro {
  margin-left: 1em;
  margin-top: 2em;
  color: white;
}

.teste {
  width: 20%;
  height: 20%;
  background-color: red;
}


  .box-books {
    border-bottom: solid 1px rgba(44, 44, 44, 0.171);
    border-radius: 3px;
    padding: 0.5em;
    margin-top: 0.3em;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
  }

  .box-books:hover {
    opacity: 0.6;
  }

  .my-account {
    color: white;
    margin-top: 3em;
    margin-left: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;
  }

  .input-myAccount {
    width: 100%;
  }

  .forgot-password-inputmyAccount {
    margin: 0px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  .forgot-password-inputmyAccount:hover {
    color: rgb(116, 116, 116);
  }

  .menuMyAcount {
    cursor: pointer;
  }

  .menuMyAcount:hover {
    cursor: pointer;
    color: gray;
  }
